@model Product

<h1>Add Product</h1>

<form method="post">
    <input asp-for="Id" hidden />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disabled placeholder="Enter name" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" disabled class="form-control" placeholder="Description" />
    </div>
    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" disabled class="form-control" placeholder="Category" />
    </div>
    <div>
        <label asp-for="Price">Price - (₦)</label>
        <input asp-for="Price" disabled class="form-control" placeholder="Price" />
    </div>
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" disabled class="form-control" placeholder="Quantity" />
    </div>
    @* <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" placeholder="Date" type="date" />
        <span asp-validation-for="Date"></span>
    </div> *@
    @* <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl" />
        <span asp-validation-for="ImageUrl"></span>
    </div> *@
    <div class="actions">
        <button type="submit" class="btn delete">Delete</button>
        <a asp-controller="Product" asp-action="Index" class="btn cancel">Back to List</a>
    </div>
</form>